@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600&display=swap");
/*============
    General
  ============*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  min-height: 100vh;
  background-color: white;
  padding: 20px 60px 5px 60px;
}

h1 {
  color: #502050;
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 20px;
}

p {
  color: #937b92;
  font-family: "Spartan", sans-serif;
  font-weight: 600;
  line-height: 1.5;
  font-size: 0.9rem;
}

/*=================
    Main Container
  =================*/
.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
}

/*==================
    Header Container
  ==================*/
.header-container {
  width: 40%;
  margin-right: 120px;
}

/*===================
    Rating Containers
  ===================*/
img {
  margin-right: 7px;
  height: 3vh;
  -webkit-transform: scale(0.75);
          transform: scale(0.75);
}

.rating-container {
  margin-bottom: 20px;
  padding: 15px 30px;
}

.rating-container p {
  padding-left: 30px;
  color: #502050;
}

.rating-1-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f7f2f7;
  border-radius: 10px;
}

.rating-2-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f7f2f7;
  border-radius: 10px;
  -webkit-transform: translate(10%);
          transform: translate(10%);
}

.rating-3-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f7f2f7;
  border-radius: 10px;
  -webkit-transform: translate(20%);
          transform: translate(20%);
}

/*=====================
    Secondary Container
  =====================*/
.secondary-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.secondary-container p {
  color: #f7f2f7;
  margin-top: 7px;
  font-size: 0.75rem;
}

.secondary-container p span {
  display: block;
  color: #ee68a4;
}

/*=====================
    Cards Container
  =====================*/
.cards {
  padding: 30px;
  margin-right: 25px;
  width: 33%;
}

.cards p {
  line-height: 1.75;
}

.card-1 {
  background-color: #502050;
  border-radius: 10px;
}

.card-2 {
  background-color: #502050;
  border-radius: 10px;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
}

.card-3 {
  background-color: #502050;
  border-radius: 10px;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
}

.img-header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img-header-container p {
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}

.img-header-container img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-right: 10px;
}

/*===============
    Attribution
  ===============*/
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 70px;
}

.attribution a {
  color: #3e52a3;
}

/*=============================================================
                             Media
  =============================================================*/
@media only screen and (max-width: 1024px) {
  /*============
    General
  ============*/
  html, body {
    min-height: 100vh;
    background-color: white;
    padding: 20px 20px 5px 20px;
  }
  h1 {
    font-size: 2rem;
  }
  p {
    font-size: 0.75rem;
  }
  /*=================
    Main Container
  =================*/
  .main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
  }
  /*==================
    Header Container
  ==================*/
  .header-container {
    width: 100%;
  }
  /*===================
    Rating Containers
  ===================*/
  .rating-container {
    margin-bottom: 20px;
    padding: 15px 0;
    display: block;
  }
  .rating-container p {
    padding-left: 0px;
  }
  .rating-1-container {
    border-radius: 10px;
  }
  .rating-2-container {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
  .rating-3-container {
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
  /*=====================
    Secondary Container
  =====================*/
  .secondary-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /*=====================
    Cards Container
  =====================*/
  .cards {
    width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */